input[type=text] {
    width: 100%;
    border: 1px solid #dddddd;
    margin: 8px;
    box-sizing: border-box;
    padding: 5px;
}

input[type="email"] {
    width: 100%;
    border: 1px solid #dddddd;
    margin: 8px;
    box-sizing: border-box;
    padding: 5px;
}

textarea[type="message"] {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    margin: 8px;
    box-sizing: border-box;
    text-align: top;
}

label {
    color: #7777;
}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    margin: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.submit:hover {
    background-color: #cccccc;   
}

.container {
    margin-bottom: 150px;
}