.container {

}
#project1 {
    height: 200px;
    width: 200px;
    margin: 8px;
    padding-right:20px;
}

#project2 {
    height: 200px;
    width: 200px;
    margin: 8px;
    padding-right: 20px;
    
}

#project3 {
    height: 200px;
    width: 200px;
    margin: 8px;
    padding-right: 20px;
}

#project4 {
    height: 200px;
    width: 200px;
    margin: 8px;
    padding-right: 20px;
    
}

#project5 {
    height: 200px;
    width: 200px;
    margin: 8px;
    padding-right: 20px;
}